<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ConnClientesElektra"
            connectionString="Data Source=tcp:DBSERVERSICC\JHEVISERVICES,49500;Initial Catalog=ClientesElektra;User ID=AppAccessElektra ; Password=Af1mn256rtoj"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>